body {
  background: white;
  color: black;
  font-family: 'Ubuntu', sans-serif;;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
}

.wrapper {
  width: 100%;
}

.content {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
}

.view {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding: 2rem 0;

}

.header-logo {
  font-size: 4rem;
  color: mediumseagreen;
}

.flex-row-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-row-start-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.flex-row-start-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-row-between-start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-row-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-col-start-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-col-start-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.fill-twenty{
  width: 20%;
}

.fill-eighty{
  width: 80%;
}

.fill-fifty{
  width: 50%;
}

.fill{
  width: 100%;
}


.title {
  background-color: mediumseagreen;
  color: white;
  min-height: 30rem;
  border-radius: 0.5rem;
  writing-mode: vertical-lr;
  font-size: 2rem;
}

.form {
  padding-left: 4rem;
  min-height: 30rem;
  width: 100%;
}

label {
  padding-left: 2rem;
  font-size: 1.2rem;
}

fieldset {
  border-radius: 0.5rem;
  border: solid 0.001rem;
  width: 100%;
}

legend {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  font-size: 1.4rem;
  color: mediumseagreen;
}

button, input {
  font-family: inherit;
  background-color: white;
  border: solid 0.0001rem;
  border-radius: 0.2rem;
  padding: 1rem;
  font-size: inherit;
  margin: 0.5rem;
}

.delete-button, .add-button, .cancel-button {
  border: none;
  padding: 0.5rem;
}

.delete-button:hover, .cancel-button:hover{
  color: red;
}

.add-button:hover {
  color: mediumseagreen;
}

button:hover{
  font-weight: bolder;
}

.icon {
  font-size: 2rem !important;
}

.filter {
  opacity: 0.2;
}

.search-box {
  opacity: 1;
}

.search-input {
  margin: 0.5rem 0.5rem 0rem 0.5rem;
}

.result-box {
  color: black;

  margin: 0rem 0.5rem 0.5rem 0.5rem;
}

.result-item {
  padding: 1rem;
}

.result-item:hover {
  border-bottom: solid mediumseagreen 0.1rem;
  font-weight: bold;
}

.column{
  width: 30%;
}

.section-header {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 3rem;
}

.column-header {
  color: mediumseagreen;
  font-weight: bold;
}

.advice-item {
  padding: 1rem;
}

.advice-title {
  font-weight: bold;
}

.advice {
  border-bottom: solid mediumseagreen 0.2rem;
  color: mediumseagreen;
  font-weight: bold;
}

.margin {
  margin: 3rem;
}

